<div class="be-thirdsection">
    <div class="be-paperplane">


        <div class="be-paperplane__content">
            <h2 class="be-paperplane__h2">Just Don’t Wait! <br> Let’s Connect.</h2>
            <p class="be-paperplane__para1">No matter what industry your business is in, we are here to provide you with
                incomparable services that fit your needs perfectly. Feel free to connect with us and have a chat with
                our
                team.</p>
            <p class="be-paperplane__para2">Happy to be of assistance!</p>
        </div>

    </div>
    <div>
        <!-- formpage -->
        <app-be-formlabels></app-be-formlabels>
    </div>
</div>