<div class="be-industry">
    <div class="be-industry__contenthead">
        <h4 class="be-industry__contenth">Industry</h4>
        <img src="../../../../assets/icons/Vector 46.svg" alt="">
    </div>

    <div class="be-industry__content">
        <img src="../../../../assets/icons/Group.svg" alt="">
        <h6 class="be-industry__contenth">Information Technology </h6>
        <img src="../../../../assets/icons/Vector 96.svg" alt="">
    </div>
    <div class="be-industry__content">
        <img src="../../../../assets/icons/hr.svg" alt="">
        <h6 class="be-industry__contenth">Human Resources </h6>
        <img src="../../../../assets/icons/Vector 96.svg" alt="">
    </div>

    <div class="be-industry__content">
        <img src="../../../../assets/icons/pro.svg" alt="">
        <h6 class="be-industry__contenth">Procurement</h6>
        <img src="../../../../assets/icons/Vector 96.svg" alt="">
    </div>

    <div class="be-industry__content">
        <img src="../../../../assets/icons/fin.svg" alt="">
        <h6 class="be-industry__contenth">Finance </h6>
        <img src="../../../../assets/icons/Vector 96.svg" alt="">
    </div>
    <div class="be-industry__content">
        <img src="../../../../assets/icons/ban.svg" alt="">
        <h6 class="be-industry__contenth">Banking </h6>
        <img src="../../../../assets/icons/Vector 96.svg" alt="">
    </div>

    <div class="be-industry__pagination">
        <img src="../../../../assets/icons/Group 444.svg" alt="">
    </div>
</div>