.be-btn{
    padding:8px 11px;
    justify-content: center;
    border: none;
}

.be-btn--submit{
   
    justify-content: center;
    flex-direction: row-reverse;
    display: flex;
    
}
.img{
    padding-right: 5px;
}