<div class="be-industry">
    <h2 class="be-industry__heading">Beinex Industry Offerings</h2>

    <div class="be-industry__cards">

        <!-- card1 -->
        <div class="be-industry__card be-industry__card--changeclr1">

            <div class="be-industry__contentheading">
                <h4 class="be-industry__contenth">Industry</h4>
                <img src="../../../../assets/icons/Vector 46.svg" alt="">
            </div>

            <div class="be-industry__content">

                <div class="be-industry__content1">
                    <img src="../../../../assets/icons/Group.svg" alt="">
                    <h6 class="be-industry__contenth">Information Technology </h6>
                </div>
                <div>
                    <img src="../../../../assets/icons/Vector 96.svg" alt="">
                </div>

            </div>

            <div class="be-industry__content">
                <div class="be-industry__content1">
                    <img src="../../../../assets/icons/hr.svg" alt="">
                    <h6 class="be-industry__contenth">Human Resources </h6>
                </div>
                <div><img src="../../../../assets/icons/Vector 96.svg" alt=""></div>
            </div>

            <div class="be-industry__content">
                <div class="be-industry__content1">
                    <img src="../../../../assets/icons/pro.svg" alt="">
                    <h6 class="be-industry__contenth">Procurement</h6>
                </div>
                <div> <img src="../../../../assets/icons/Vector 96.svg" alt=""></div>
            </div>

            <div class="be-industry__content">
                <div class="be-industry__content1">
                    <img src="../../../../assets/icons/fin.svg" alt="">
                    <h6 class="be-industry__contenth">Finance </h6>
                </div>
                <div> <img src="../../../../assets/icons/Vector 96.svg" alt=""></div>
            </div>
            <div class="be-industry__content">
                <div class="be-industry__content1">
                    <img src="../../../../assets/icons/ban.svg" alt="">
                    <h6 class="be-industry__contenth">Banking </h6>
                </div>
                <div><img src="../../../../assets/icons/Vector 96.svg" alt=""></div>
            </div>

            <div class="be-industry__pagination">
                <img src="../../../../assets/icons/Group 444.svg" alt="">
            </div>
        </div>


        <!-- card2 -->
        <div class="be-industry__card be-industry__card--changeclr2 ">
            <div class="be-industry__contentheading">
                <h4 class="be-industry__contenth">Offerings</h4>
                <img src="../../../../assets/icons/Vector 46.svg" alt="">
            </div>

            <div class="be-industry__content">

                <h6 class="be-industry__contenth">Ticket Response </h6>
                <img src="../../../../assets/icons/Vector 96.svg" alt="">
            </div>
            <div class="be-industry__content">

                <h6 class="be-industry__contenth">Sentiment Analysis </h6>
                <img src="../../../../assets/icons/Vector 96.svg" alt="">
            </div>

            <div class="be-industry__content">

                <h6 class="be-industry__contenth">Project Capabilities</h6>
                <img src="../../../../assets/icons/Vector 96.svg" alt="">
            </div>

            <div class="be-industry__content">

                <h6 class="be-industry__contenth">Error reduction </h6>
                <img src="../../../../assets/icons/Vector 96.svg" alt="">
            </div>


        </div>



        <!-- card3 -->
        <div class="be-industry__card be-industry__card--changeclr3">
            <div class="be-industry__contentheading">
                <h4 class="be-industry__contenth">Description</h4>
                <img src="../../../../assets/icons/Vector 46.svg" alt="">
            </div>

            <div class="be-industry__content">

                <p class="be-industry__contentpara">Predictive analytics is often applied here and for prediction of
                    future possible relevant matters for
                    tickets. Data science optimises these processes helping the companies to improve customer
                    satisfaction
                    rates and avoid previous mistakes. </p>
            </div>


        </div>

    </div>

    <div class="be-industry__contactbtn">
        <app-be-button class="be-btn" [text]="'Contact Us'" [backgroundColor]="'#04BBF2'"
            [icon]="'../../../../assets/images/rightsubmit.svg'" [textColor]="'#fff'"></app-be-button>
    </div>





</div>