@import "../../../assets/fonts/font.scss";
@import "../../../assets/scss/mixin.scss";

.bnx-primary-header {

    // padding: 0rem 1.5rem;
    padding: 1px 30px 0px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: $font;
    padding-bottom: 0px;
    // border: 2px solid green;

    .bnx-header-right {
        width: 50%;

        img {
            width: 14px;
            height: 14px;
        }

        h6 {
            color: #666;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }



        .bnx-header-left {
            width: 50%;

            img {
                width: 5px;
                height: 5px;
            }

            h6 {
                color: #666;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
            }
           
        }
       

    }

    .btn-head:hover {
        background-color: white;
        color: #10385b;
    }

    .btn-head {
        background: #10385B;
        color: #FFF;
    }
    // &__hr{
    //     stroke-width: 2px;
    //     stroke: #F5F5F5;
    // }


}
.be-btn{
    font-size:12px ;

}
@include mobile{
    .bnx-primary-header {
        display: none; 
    } 
}