@import "../../../../assets/scss/mixin.scss";
@import "../../../../assets/fonts/font.scss";
.bnx-subscribecontainer{
   width: 100%;
}
.bnx-subscribe {
    background-color: #1D7AD0;
    color: #fff;
    padding: 2rem 5rem;
    margin: -4rem 2rem 0 2rem;
    position: absolute;
    width: calc(100vw - 5rem);
    font-family: $font;
    height: 113px;
    flex-shrink: 0;


    .input-group {
        margin: 0;

    }

    .form-control {
        border-radius: 0;
    }

    button {
        background: #10385B;
        color: white;
        border-radius: 0;

    }

    .subscribe-search-bar {
        display: grid;
        align-items: center;

    }

}

@include mobile {
    .bnx-subscribe {
        width: 90%;
        height: 25%;
        margin: -7rem 2rem 0 2rem;

    }
}

@include tablet {
    bnx-subscribe {
        width: 100%;
        height: 40%;
    }
}